*{
    margin: 0;
}
.parent{
    background-color: blue;
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    align-items: center;
    padding: 20px;
}
.child-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
